<div>
  <div>Hackernews</div>
  <button on:click="setView('new')">New links</button>
  <span> | </span>
  <button on:click="setView('create')">Create a link</button>

  <!-- View for all the links -->
  {{#if view == 'new'}}
    <LinkList />
  {{/if}}

  <!-- View for creating a new link -->
  {{#if view == 'create'}}
    <CreateLink />
  {{/if}}

</div>

<script>
  import LinkList from './LinkList.html'
  import CreateLink from './CreateLink.html'

  export default {
    data: () => ({
      view: 'new'
    }),
    components: {
      LinkList,
      CreateLink
    },
    methods: {
      setView(view) {
        this.set({view: view})
      }
    }
  }
</script>
