<script>
  import Link from './Link.html'
  import Client from '../graphql/Client'
  import getAllLinksQuery from '../graphql/queries/getAllLinks.graphql'

  export default {
    data: () => ({
      links: []
    }),
    components: {
      Link
    },
    oncreate () {
      Client.query({query: getAllLinksQuery})
      .then(data => {
        this.set({links: data.data.allLinks})
      })
    }
  }
</script>

<!-- RENDER -->
<div>
  {{#each links as link}}
    <Link description={{link.description}} url={{link.url}} />
  {{/each}}
</div>
<!-- RENDER -->
